# Python environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# Keep directory structure but ignore contents
robotvar/fonts/*
!robotvar/fonts/.gitkeep

robotvar/screenshots/*
!robotvar/screenshots/.gitkeep